{
  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "defaultParams": true,
    "forOf": true,
    "generators": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": true,
    "regexYFlag": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true,
    "globalReturn": true,
    "jsx": true
  },
  "rules": {
    "no-underscore-dangle": 0,
    "no-unused-vars": 0,
    "no-duplicate-case": 0,
    "no-new-func": 0,
    "no-loop-func": 0,
    "no-eval": 0,
    "no-return-assign": 0,
    "camelcase": 0,
    "eol-last": 0,
    "semi": 2,
    "quotes": 0,
    "strict": 0,
    "no-alert": 0
  },
  "env": {
    "browser": true,
    "node": true
  }
}